html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #00804D;
    color: white;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
}

nav li {
    list-style-type: none;
    padding: 4px 12px;
    font-size: 24px;
    font-weight: normal;
}

nav li a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page_heading{
    margin-top: 96px;
}
.active {
    text-decoration: underline;
    font-weight: 800;
}

.content {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-text {
    text-align: center;
}

.card-list {
    width: 100%;
    max-width: 900px;
}

.card {
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: black;
    margin: 16px 0;
    padding: 8px;
}

.card-title{
    font-size:32px;
    font-weight: 600;
}

.container{
    width: 100%;
    max-width: 900px;
    height: 500px;
}

.infoaqitable{
    border: 1px solid black;
}

.aqiwtxt{
    color: white;
}

.aqibtxt{
    color: black;
}

.aqi-container{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.half{
    flex-grow: 1;
}

.aqi-card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-weight: 800;
    font-size: 36px;
}

.card-large{
    height:100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.card-small{
    height: 110px;
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}
.moderate{
    background-color: #FFDE33;
    color: black;
}

.good{
    background-color: #009966;
    color: white;
}

.mild-unhealthy{
    background-color: #ff9933;
    color:black;
}
.aqi-no{
    display: flex;
    flex-grow: 3;
    border-right: 1px solid #C4C4C4;
    justify-content: center;
    align-items: center;
}

.large-card-ranking{
    display: flex;
    flex-grow: 7;
    justify-content: center;
    align-items: center;
}

.particulate-name{
    font-weight: normal;
    font-size:16px;
    border-bottom: 1px solid black;
    width:100%;
    flex-grow: 1;
    text-align:center;
}

.aqi-no-small{
    display: flex;
    flex-grow: 19;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

