html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #00804D;
    color: white;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
}

nav li {
    list-style-type: none;
    padding: 4px 12px;
    font-size: 24px;
    font-weight: normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page_heading{
    margin-top: 96px;
}
.active {
    text-decoration: underline;
    font-weight: 800;
}

.content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-text {
    text-align: center;
}

.card-list {
    width: 100%;
    max-width: 900px;
}

.card {
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: black;
    margin: 16px 0;
    padding: 8px;
}

.card-title{
    font-size:32px;
    font-weight: 600;
}